<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Climate</th>
        <th scope="col">Terrain</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of planets; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.climate}}</td>
        <td>{{item.terrain}}</td>
        <td>
            <button type="button" class="btn btn-success"(click)="detail(item)">O</button>
        </td>
      </tr>
    </tbody>
  </table>