<div class="card text-center">
    <div class="card-header bg-success">
      Starwars & company
    </div>
    <div class="card-body bg-light">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">--------------------------------</p>
      <a href="/planets" class="btn btn-success">Vai a pianeti</a> <br><br>
      <a href="/people" class="btn btn-success">Vai a persone</a>
    </div>
    <div class="card-footer text-muted bg-success">
      2 days ago
    </div>
  </div>